html, body
{
    background-color: #fff;
    border: 0 none;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    height: 100%;
    margin: 0;
    margin-top:-10px;
    padding: 0;
    width: 100%;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

#wrapborder {
    margin: 0 auto;
    width: 980px;
    position:relative;

}

#header
{
    height: 119px;
    position: relative;
}

#ResultsChart
{
    padding:16px 0px;
}

.content {
    background-repeat: repeat-y;
}

.content_frame
{
    border:2px solid #5D5B51;
    position: relative;
}

h1, h2, h3, legend
 {
     font-family: Arial Black, Helvetica, Arial, sans-serif;
     letter-spacing: 4px;
     text-transform: uppercase;
	 color: #A10000;
 }

h1 {font-size: 230%;line-height: 120%; font-weight: bold; margin: 0; padding-top: 40px;}
h2, legend {font-size: 20px; margin: 16px;}
h3 {font-size: 16px; color:#A10000; margin:0px }
/* Tabs */

#Tabs
{
    list-style: none outside none;
    margin: 10px 0;
    padding: 0 0 0 16px;
    height:38px;
}

#Tabs li {
    display: inline;
    float: left;
    font-size: 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 175px;
    line-height:38px;
	border: 1px solid #5D5B51;
	border-bottom: none;
	margin: 0px 5px;
    background-color:#FDCC09;
}

#Tabs li a {
    color:#5D5B51;
    display: block;
    text-decoration:none;
}

#Tabs li a:hover {
    text-decoration: underline;
}

#Tabs li a.active {
    color:#fff;
    background:#5D5B51;
    padding-right:1px;
}

#Tabs #tabhouselist {
    display: none;
}

/* Stage */
#StagePicker
{
    position:absolute;
    width:137px;
    left:-12px;
    padding:0;
    margin:0

}

#StagePicker li
{
   list-style: none;
    margin:0px;
    margin-bottom:8px;
}

#StagePicker li a
{
    padding:16px;
    font-size: 16px;
    display: block;
    text-decoration:none;
    font-weight: bold;
    color:#fff;
    background: #5D5B51;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#StagePicker li a.active
{
    background: #A10000;
    color:#fff;
}

#helpoverlay
{
    width:400px;
    right:0px; top:0px;
    position: absolute;
    padding:16px;
    border:1px solid #A10000;
    background: #fff;
    z-index: 999;
    display: none;
}

#helpbutton {
    position: absolute;
    right: 4px;
    z-index: 998;
}

#stage
{
    width:847px;
    margin-right:4px;
    float:right;
    overflow:hidden;
    position:relative;
    min-height:600px;
    border:2px solid #A10000;
}

#loading
{
    width:847px;
    height:100%;
    position:absolute;
    background:#fff;
    z-index: 999;
    opacity: 0.85;
    display: none;
}

#loading img
{
    left: 45%;
    position: absolute;
    top: 40%;
}

#stage .tab
{
    width:847px;
    min-height:600px;
    position:absolute;
    padding: 10px 0;
}

#map
{

}

#map-canvas { height: 600px }

#detail
{
    padding:20px;
}

.detailtable thead tr th
{
    font-size:13px;
    font-weight: bold;
}

.detailtable tbody td
{
    font-size:16px;
    color:#807561;
    padding:8px;
}

.detailtable tbody td.partytag,
.resultstable tbody td.partytag
{
    width:8px;
    padding:0px;
}

#detailchart, #detailswing {
    float:right;
}

#marginkey
{
    border: 1px solid #807561;
    left: 5px;
    position: absolute;
    top: 300px;
    width: 100px;
    padding:5px;
    display: none;
}
#marginkey ol
{
    margin:0px; padding:0px;
}
#marginkey li
{
    border-left-style: solid;
    border-left-width: 8px;
    list-style: none;
    margin:1px; padding:2px;
}

#table
{
    left:847px;
}

#table .column
{
    float:left;
    width:260px;
    margin-left:24px;
}

#table .column:first-child
{
    margin-left:12px;
}

.resultstable
{
    margin:0;
    padding:0;
}

.resultstable thead tr th
{
    font-size:11px;
    font-weight: bold;
    border-bottom:4px solid #000;
}

.resultstable tbody tr
{
   line-height: 16px;
}

.resultstable tbody tr:hover
{
    background:#f1f1f1;
}

.resultstable .name
{
    width:130px;
    text-align: left;
}

.resultstable .name a
{
   text-decoration: none;
    display:block;
    color:#333;
}

.resultstable .val
{
   background:#AAAAAA;
    text-align: center;
    color:#fff;
    padding:0 4px;
}

.tooltipview h2
{
    font-size:11px;
    font-weight: bold;
    border-bottom:4px solid #000;
}

.tooltipview ul
{
    margin:0; padding:0;
}

.tooltipview li
{
    list-style: none;
    font-size:10px;
}

fieldset
{
    border:0px;
}

fieldset p.buttonrow {padding-left:200px;}

fieldset label
{
    width:200px;
    float:left;
    margin-right:8px;
    text-align:right;
}